:root {
    --size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #212429;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    
}
h1 {
    font-size: 32px;
    margin: 0;
}

.welcome-container
{
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.navbar {
   font-size: 16px;
   background-color: #333;
   display: flex;
   justify-content: space-around;
   padding: 10px;
   position: sticky;
    top: 0;
    z-index: 0;
}

.navbar a {
    color: white;
    text-decoration: none;  

}
.navbar a:hover {
    
    text-decoration: underline;  

}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    text-align: center
}

.producto img {
   max-width: 100%;
   height: auto;
}

.container p {
    justify-content: center;
}

.precio {
    font-size: 20px;
    color: #212429;
    font-weight: bold;
}

.producto .precio {
    margin-top: 10px;
}

.producto p {
    font-size: 14px;
}
.nombre-prenda
{
    font-size: 20px;
    color: blue;
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.iconos a{
    text-decoration: none;
    color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
       
}

.iconos img {
    width: 30px;
    height: 30px;
}

.iconos span {
    margin-top: 5px;
}

.iconos-encabezado img {
    width: 30px;
    height: 30px;
    margin-right: 10px;

}

.iconos-encabezado
{
    display: flex;
}

a
{
    color: white;
}

.iconos-encabezado a
{
    color: white;
    text-decoration: none;
    align-items: center;

}

.producto-3 { order: 1;}
.producto-6 { order: 2;}
.producto-4 { order: 3;}
.producto-1 { order: 5;}
.producto-2 { order: 6;}
.producto-5 { order: 4;}
